@{
    ViewData["Title"] = "New Game";
}

    <form asp-controller="NewGame" asp-action="Generate" method="post">
        <!-- Input and Submit elements -->
        <input type="text" id="teamName" name="teamName" value='@ViewData["TeamName"]' />
        <input type="submit" id="Generate" name="generate" />
    </form>
    
