@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col">
        <h2>Team Name</h2>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <input type="text" id="teamName" name="teamName" value='@ViewData["TeamName"]' />        
    </div>        
    <div class="col">        
        @Html.ActionLink("New Game", "ShowRolls","ShowGame");
    </div>
    <div class="col">
        <input type="button" id="replayGame" name="replayGame" value="Replay Game"/>
    </div>
</div>