@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="w-100"></div> 
    <div class="col">
        <h2>Dice Rolling</h2>
    </div>
    <div class="col">        
        @Html.ActionLink("Click here to start", "ShowRolls","ShowGame")
    </div>   
</div>